:root {
    /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    overflow: auto;
    line-height: 1.5;
    font-weight: 400;

    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --max-width: 1080px;
    --basicShadow: 0 2px 4px rgba(0,0,0,0.1);
}
